

.dropzone {
  border: 2px dashed var(--stroke-default--color);
  border-radius: .25rem;
  display: grid;
  justify-items: center;
  gap: .5rem;
  text-align: center;
  padding: 1.75rem 1rem;
  position: relative;

  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Cola no topo */
    inset: 0;
    /* Esconde os elementos padrões do input */
    opacity: 0; 
  }

 & p {
  color: rgba(168, 162, 158, 1);
 }

 &:hover, &:has(input:focus) {
  border-width: 2px;
  border-color: var(--stroke-highlight-color);
  background-color: var(--surface-secondary-color);
  color: var(--text-tertiary-color);

  & p {
    color: var(--text-tertiary-color);
  }

  & svg path {
    stroke: var(--stroke-highlight-color);

  }
 }
}